body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App .question-container{
   margin: 20px;
   width: 400px;

}
.App .question-container .options-text{
  margin-left: 5px;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}

.App .question-container .input-grp{
  margin: 2px;
}
.App .question-container .question-buttons{
  margin: 10px;
}
.App .question-answer{
  text-align: left;
  
}
.App .question-answer .checkbox-btn{
  display: grid;
  grid-template-columns: 1fr ;
  margin: 0px;
  padding: 0px;

}
.App .question-answer .input-btn2{
  margin: 3px;
  margin-left: 20px;
}
.App .question-answer .input-btn{
  margin-right: 3px;
}


.App .Main-btn{
  background-color: #af5f46;
    width: 150px;
    margin: 15px;
    border: none;
    padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
